<%- partial('_partial/header') %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <%- page.title %>
        <div class="ui sub header">
            <%- date(page.date) %>
        </div>
    </h2>
    <div class="ui center aligned sub header">
        <div class="ui mini labels">
            <% page.tags.forEach(function(tag){ %>
            <a class="ui label" href="<%- tag.permalink %>"><%- tag.name %></a>
            <% })  %>
        </div>
    </div>
    <div class="markdown-body">
        <%- page.content %>
    </div>
</div>